<div class="top">
    <div class="top-main">
        <div class="top-container">
            <div class="top-form-area">
                <p class="top-form-area-title">Potepan Shareでまだ体験したことのない旅をしよう</p>
                <%= form_tag(:inns, :method => "get", class: "top-form") do %>
                    <%= label_tag :search, "エリア", class: "top-form-label" %>
                    <%= text_field_tag :search, "", placeholder: "東京", class: "top-form-text" %>
                    <%= submit_tag "探す", :address => nil, class:"top-form-submit" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="recommend">
        <div class="recommend-area">
            <h2 class="recommend-title">おすすめのエリア</h2>
            <div class="flex recommend-box">
                <div class="recommend-image">
                    <%= form_tag(:inns, :method => "get", class: "image-form") do %>
                        <p class="area-text">東京<p>
                        <%= link_to image_tag("img_tokyo.jpg", class:"top-image" ), :inns, search: '東京' %>
                        <%= submit_tag "東京", :address => nil, class:"top-form-submit" %>
                    <% end %>
                </div>
                <div class="recommend-image">
                    <p class="area-text">大阪<p>
                    <%= link_to image_tag("img_osaka.jpg", class:"top-image"), controller: "inns", action: "index", search: '大阪' %>
                </div>
                <div class="recommend-image">
                    <%= link_to controller: "inns", action: "index", search: "京都" do%>
                        <p class="area-text">京都<p>
                        <%= image_tag("img_kyoto.jpg", class:"top-image") %>
                    <% end %>
                </div>
                <div class="recommend-image">
                    <p class="area-text">札幌<p>
                    <%= link_to image_tag("img_sapporo.jpg", class:"top-image") %>
                </div>
            </div>
        </div>
    </div>
</div>
