<%= render "shared/sidebar" %>
<div class="user_prof">
    <h2>プロフィール</h2>

    <%= form_for(current_user, url: user_path(current_user), method: :patch) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
            <% if @user.image? %>
                <%= image_tag @user.image.thumb.url %>
            <% else %>
                <%= image_tag("default_icon.jpg") %>
            <% end %>
        </div>
        <div>
            <%= f.label :image, "アイコン画像を選択" %>
            <%= f.file_field :image %>
        </div>

        <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @user.email %>
        </div>

        <div class="field">
            <%= f.label :name, "名前" %><br />
            <%= f.text_field :name, autocomplete: "name", value: @user.name %>
        </div>

        <div class="field">
            <%= f.label :introduction, "自己紹介" %><br />
            <%= f.text_area :introduction, autocomplete: "introduction", value: @user.introduction, placeholder: "自己紹介を入力" %>
        </div>

        <div class="actions">
            <%= f.submit "更新" %>
        </div>

        <%= link_to "戻る", :user %>
    <% end %>
</div>
