<div>
    <p>検索結果:
        <% if @inns == nil %>
            0
        <% else %>
            <%= @inns.count %>
        <% end %>
        件</p>
    <div>
        <% if @inns == nil %>
            <p>登録はありません</p>
        <% else %>
            <%= @inns.each do |inn| %>
                <%= link_to("", {controller: "reservs", action:"new"}, class: "reserv_link") do%>
                    <div>
                        <%= inn.image %>
                        <%= inn.name %>
                        <%= inn.address %>
                        <%= inn.price%>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
