<div>
    <p>検索結果:
        <% if @inns == nil %>
            0
        <% else %>
            <%= @inns.count %>
        <% end %>
        件</p>
    <div>
        <% if @inns == nil %>
            <p>登録はありません</p>
        <% else %>
            <%= @inns.each do |inn| %>
                <div class="show_room">
                    <%= link_to inn do%>
                        <%= image_tag inn.image.thumb.url %>
                        <%= inn.name %>
                        <%= inn.address %>
                        <%= inn.price%>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
