<%= image_tag (@inn.image.thumb.url) %>
<div>
    <%= image_tag (@users.image.thumb.url) %>
    <div>
        <%= @inn.name %>
        <%= @inn.address %>
    </div>
</div>
<%= @inn.introduction %>

<div>
    <%= form_for @reserv do |f| %>
        <%= @inn.price %>
        <div>
            <%= f.label :start_day, "開始日"%>
            <%= f.date_field :start_day %>
        </div>
        <div>
            <%= f.label :end_day, "終了日"%>
            <%= f.date_field :end_day %>
        </div>
        <div>
            <%= f.label :num_pepo, "人数"%>
            <%= f.number_field :num_pepo %>
        </div>
        <% if user_signed_in? %>
            <%= f.hidden_field :inn_id, value: @inn.id%>
            <%= f.submit "予約する" %>
        <% else %>
            <%= link_to "ログイン", new_user_session_path %>
        <% end %>
    <% end %>
<div>
