<div class="reserved-room">
    <div class="reserved-box">
        <div class="reserved-title">
            <h2>予約済みルーム一覧</h2>
        </div>
        <table class="reserved-table">
            <thead class="reserved-thead">
                <tr>
                    <th class="th-image">ルーム画像</th>
                    <th class="th-name">ルーム名</th>
                    <th class="th-intro">ルーム紹介</th>
                    <th class="th-fee">合計料金</th>
                    <th class="th-sday">開始日</th>
                    <th class="th-eday">終了日</th>
                    <th class="th-created">予約確定日時</th>
                    <th class="th-delete"></th>
                </tr>
            </thead>
            <tbody class="reserved-tbody">
                <% if @reservs == nil %>
                    <p>登録はありません</p>
                <% else %>
                    <% @reservs.each do |reserv| %>
                        <tr>
                            <td class="reserved-image-box"><%= link_to image_tag(reserv.inn.image.url, class: "reserved-image"), reserv.inn %></td>
                            <td class="reserved-name"><%= link_to reserv.inn.name, reserv.inn %></td>
                            <td class="reserved-intro"><%= reserv.inn.introduction %></td>
                            <td class="reserved-fee"><%= reserv.fee %></td>
                            <td class="reserved-sday"><%= reserv.start_day %></td>
                            <td class="reserved-eday"><%= reserv.end_day %></td>
                            <td class="reserved-created"><%= reserv.created_at%></td>
                            <td class="reserved-delete"><%= link_to "削除", reserv, method: :delete, data:{confirm: "削除してよろしいですか?"}, class:"delete" %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
