<h2>予約済みルーム</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>合計料金</th>
                <th>開始日</th>
                <th>終了日</th>
                <th>予約確定日時</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% if @reservs == nil %>
                    <p>登録はありません</p>
                <% else %>
                <%# if @reservs %>
                    <%= @reservs.each do |reserv| %>
                        <td><%= Inn.where(reserv_id: reserv.id).image %></td>
                        <td><%= Inn.where(reserv_id: reserv.id).name %></td>
                        <td><%= Inn.where(reserv_id: reserv.id).introduction %></td>
                        <td><%= reserv.fee %></td>
                        <td><%= reserv.stard_day %></td>
                        <td><%= reserv.end_day %></td>
                        <td><%= reserv.created_at%></td>
                    <% end %>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>
