<h2>予約済みルーム</h2>
    <table>
        <thead>
            <tr>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>合計料金</th>
                <th>開始日</th>
                <th>終了日</th>
                <th>予約確定日時</th>
            </tr>
        </thead>
        <tbody>
            <% if @reservs == nil %>
                <p>登録はありません</p>
            <% else %>
                <% @reservs.each do |reserv| %>
                    <tr>
                        <td><%= image_tag reserv.inn.image.url %></td>
                        <td><%= link_to reserv.inn.name, reserv.inn %></td>
                        <td><%= reserv.inn.introduction %></td>
                        <td><%= reserv.fee %></td>
                        <td><%= reserv.start_day %></td>
                        <td><%= reserv.end_day %></td>
                        <td><%= reserv.created_at%></td>
                        <td><%= reserv.inn_id%></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
