<!DOCTYPE html>
<html>
  <head>
    <title>Lodgapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-nav">
        <div class="header-left">
          <%= link_to image_tag("logo.png", class:"top-logo"), :lodg %>
          <%= form_tag(inns_search_path, :method => "get", class: "header-form") do %>
            <div class="search search-area">
              <i class="fas fa-map-marker-alt"></i>
              <%= text_field_tag :keyword, "", placeholder: "エリア" %>
              <%= submit_tag "Search", class:"no-display" %>
              <%# <%= text_field_tag :search, "", placeholder: "エリア" %>
              <%# <%= submit_tag "Search", :address => nil, class:"no-display" %>
            </div>
            <div class="search search-keyword">
              <i class="fas fa-search"></i>
              <%= text_field_tag :keyword, "", placeholder: "キーワード" %>
              <%= submit_tag "Search", class:"no-display" %>
            </div>
          <% end %>
        </div>
        <div class="header-right">
          <nav>
            <% if user_signed_in? %>
              <div class="user_name login">
                <p><%= current_user.name %></p>
                <div class="view_sidebar">
                  <% if current_user.image? %>
                    <%= image_tag current_user.image.thumb.url %>
                  <% else %>
                    <%= image_tag("default_icon.jpg") %>
                  <% end %>
                </div>
              </div>
              <%= link_to "ルーム登録", :new_inn %>
              <%= link_to "登録済みルーム一覧", :inns %>
              <%= link_to "予約済みルーム一覧", :reservs %>
              <%= link_to "設定", :users %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: "login" %>
              <%= link_to "登録する", new_user_registration_path, class: "Regist" %>
            <% end %>
          </nav>
        </div>
        <div class="clear-float"></div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p class="footer-text">©️ 2020 POTEPAN.INC</p>
    </footer>
  </body>
</html>
